extends ../layouts/default

mixin node(node)
	.node(data-ks-editable=editable(user, { list: 'Node', id: node.id }))
		h2: a(href='/add/node/' + node.slug)= node.title
			if node.publishedDate
				| on #{node._.publishedDate.format('MMMM Do, YYYY')}

			if node.author
				| by #{node.author.name.first}
		if node.image
			img(src=node._.image.fit(160,160)).img.pull-right
		!= node.description.brief
		if node.description.extended
			p.read-more: a(href='/add/node/' + node.slug) Read more...

block intro

block content
	.container: .row
		.col-sm-8.col-md-9
			.blog
				each node in data.nodes
					+node(node)
