extends ../layouts/default

block content
	#cy
	#loading
		span.fa.fa-refresh.fa-spin
	#search-wrapper
		h3 Click, drag, scroll, zoom in/out. We are 32!
	#info
		button#reset 32

block js
	script(src='/js/cytoscape.min.js')
	script(src='/js/main.js')
